html, body {
  margin: 0;
  padding: 0;
  background-color: #214;
  touch-action: none;
}

canvas {
  display: block;
}

h1, h2 {
  color: #fff;
  font-family: Arial;
}

/* NOSCRIPT */
.sad {
	font-size: 5em;
}

noscript, #loading {
    height: 300px;
    width: 500px;
    text-align: center;
    position: fixed;
    background: #0002;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
}

a {
	color:#fff;
	text-decoration: underline dotted;
}

#username {
  height: 32px;
  width: 320px;
  position: fixed;
  right: 8px; bottom: 8px;
  padding: 4px;
  background: #0008;
  color: white;
  font: bold 16px/32px Verdana, sans-serif;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  text-align: center;
}

#messages {
  position: fixed;
  left: 8px; bottom: 8px;
  width: 320px;
  padding: 4px;
  background: #0008;
  color: white;
  font: bold 16px/32px Verdana, sans-serif;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
}
